<h3>Welcome to GeoMap</h3>
<div id='map' style='width: 400px; height: 300px;'></div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiYWdkYXZpZCIsImEiOiJjamRkOHRzYjQ0ZjJ0MnFxcmpieTYycWczIn0.HJ8iLEzEwzX29e-WTOdVMg';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v10'
  });
</script>
